/OpenCVTrackers/outputVideos

/DeepSORT/deep_sort-master/outputVideos

/YoloV8/output
/YoloV8/bateau_1/img1
/YoloV8/bateau_1_0.5/img1
/YoloV8/bateau_2_0.5/img1
/YoloV8/bateau_3_0.5/img1
/YoloV8/bateau_3_0.1/img1