/OpenCVTrackers/outputVideos

/DeepSORT/deep_sort-master/outputVideos

/YoloV8/COCO/output
/YoloV8/COCO/bateau_1/img1
/YoloV8/COCO/bateau_1_0.5/img1
/YoloV8/COCO/bateau_2_0.5/img1
/YoloV8/COCO/bateau_3_0.5/img1
/YoloV8/COCO/bateau_3_0.1/img1
/YoloV8/COCO/vg_1/img1
/YoloV8/COCO/vg_3/img1

/YoloV8/Train1/output
/YoloV8/Train1/vg_1/img1
/YoloV8/Train1/vg_2/img1
/YoloV8/Train1/vg_3/img1
/YoloV8/Train1/vg_4/img1